<html>
    <head>
        <title>Contact symbionts.org</title>
        {% include 'head.html' %}
        <script type='text/javascript'>
       </script>
    </head>
    <body>
        <div id='allContent'>
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id = 'mainContent'>
                <h1>Contact</h1> 
                <p>This database was created and is maintained by:<br><br> 
                <a href="http://www.york.ac.uk/biology/research/bioinformatics-biosystems/peter-d-ashton/">Dr. Peter Ashton:</a><br> 
                &nbsp;&nbsp;&nbsp;Head of Genomics and Bioinformatics Laboratories<br>
                &nbsp;&nbsp;&nbsp;Technology Facility<br>
                &nbsp;&nbsp;&nbsp;Department of Biology (Area 15)<br>
                &nbsp;&nbsp;&nbsp;University of York<br>
                &nbsp;&nbsp;&nbsp;Heslington, York, YO10 5DD<br>
                &nbsp;&nbsp;&nbsp;Tel:  +44 (0)1904 328808<br>
                &nbsp;&nbsp;&nbsp;<a href="mailto:peter.ashton@york.ac.uk">Email: peter.ashton@york.ac.uk</a><br><br>

                <a href="http://www.york.ac.uk/biology/itsupport/cfm/post_doc/profile.cfm?ID=1607">Dr. Katherine Newling:</a><br> 
                &nbsp;&nbsp;&nbsp;Bioinformatician<br>
                &nbsp;&nbsp;&nbsp;Technology Facility<br>
                &nbsp;&nbsp;&nbsp;Department of Biology (Area 15)<br>
                &nbsp;&nbsp;&nbsp;University of York<br>
                &nbsp;&nbsp;&nbsp;Heslington, York, YO10 5DD<br>
                &nbsp;&nbsp;&nbsp;Tel:  +44 (0)1904 328767<br>
                &nbsp;&nbsp;&nbsp;<a href="mailto:katherine.newling@york.ac.uk">Email: katherine.newling@york.ac.uk</a><br><br>        


           </div>
            {% include 'footer.html' %}
        </div>

    </body>
</html>