<html>
    <head>
        <title>symbionts.org Gene Details</title>
        {% include 'head.html' %}
        <script type='text/javascript'>
            $(document).ready(function () {
               
                    getBasicDetails("{{ id }}",$('#basic_details'));
                    getGenomicContext("{{ id }}",$('#genomic_context'),$('#practice_canvas')[0]);
            
            });

            function getBasicDetails(gene_id, target_div) {
                var title = "<h2>Gene details";
                title = title + "</h2>";
                imagediv = "<div id=\"spinning_wheel_div\" align=\"center\"><img src=\"{{ url_for('static', filename='images/spinning-wheel.gif') }}\" /></div>";
                target_div.html(title + imagediv);
                $.ajax({
                        "url": "/gene_info/" + gene_id, 
                        "success": function(data, status_text, jqXHR) {
                                            format_basic_gene_data(data, status_text, jqXHR, target_div);
                                   },
                        "dataType": 'json'
                       });
            }

            function getGenomicContext(gene_id, target_div, target_canvas) {

                $.ajax({
                        "url": "/orthologue_info/" + gene_id, 
                        "success": function(data, status_text, jqXHR) {
                                            format_genomic_context_data(data, status_text, jqXHR, target_div, target_canvas);
                                   },
                        "dataType": 'json'
                       });
            }


        </script>
    </head>
       <body>
        <div id='allContent'>
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id='mainContent'>
            <div id='basic_details'>
            </div>
            <div id='genomic_context'> 
                <h3>Genomic context</h3>
                <canvas id="practice_canvas" width="600" height="400">
                </canvas>
            </div>
<!--             <canvas id="gene_canvas" width="500" height="100">
            </canvas> -->

            </div>

            {% include 'footer.html' %}
        </div>
        
    </body>
</html>
