<html>
    <head>
        <title>symbiont</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css' />
        <link rel='stylesheet' href="{{ url_for('static', filename='styles/symbionts.css') }}" />
        <script src="{{ url_for('static', filename='scripts/datalookup.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/jquery-1.12.2.min.js') }}"></script>
        <script>
            $(document).ready(function() {
                updateSeqData($('seqData'), "CWO_RS00040");
                updateGenomicContext($('genomeContext'), "CWO_RS00040");
                updateHomologues($('homologues'), "CWO_RS00040");
                updateSNPs($('SNPs'), "CWO_RS00040");
            })
        </script>
    </head>
    <body>
        <div id="allContent">
            <div id="heading">
                <span id="mainTitle"><span class="ultrabold">symbiont</span>.org</span>
            </div>
            <div id="leftMenu">
                <h1>menu</h1>
            </div>
            <div id="mainContent">
                <h1>Gene details for CWO_RS00040 from <i>B. aphidicola</i></h1>
                <div>
                    <h2>Sequence information</h2>
                    <div id="seqData">
                        <img src="{{ url_for('static', filename='images/spinning-wheel.gif') }}" />
                    </div>
                </div>
                <div>
                    <h2>Genomic context</h2>
                    <div id="genomicContext">
                        <img src="{{ url_for('static', filename='images/spinning-wheel.gif') }}" />
                    </div>
                </div>
                <div>
                    <h2>Homologues</h2>
                    <div id="homologues">
                        <img src="{{ url_for('static', filename='images/spinning-wheel.gif') }}" />
                    </div>
                </div>
                <div>
                    <h2>SNPs</h2>
                    <div id="SNPs">
                        <img src="{{ url_for('static', filename='images/spinning-wheel.gif') }}" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
