<html>
    <head>
        <title>symbionts.org Genome Details</title>
        {% include 'head.html' %}
        <script type='text/javascript'>
            $(document).ready(function () {
               
                    getGenomeDetails("{{ id }}",$('#genome_details'), $('#genome_references'));
            
            });

            function getGenomeDetails(genome_id,target_div, target_div2) {
                var title = "<h2>Genome details: "+ genome_id;
                title = title + "</h2>";
                imagediv = "<div id=\"spinning_wheel_div\" align=\"center\"><img src=\"{{ url_for('static', filename='images/spinning-wheel.gif') }}\" /></div>";
                target_div.html(title + imagediv);
                $.ajax({
                        "url": "/genome_info/" + genome_id, 
                        "success": function(data, status_text, jqXHR) {
                                            format_genome_data(data, status_text, jqXHR, target_div, target_div2);
                                   },
                        "dataType": 'json'
                       });
            }
        </script>
    </head>
    <body>
        <div id='allContent'>
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id='mainContent'>
            
            <div id='genome_details'>
                </div>
            <div id='genome_references'>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
