<html>
    <head>
        <title>Help symbionts.org</title>
        {% include 'head.html' %}
        <script type='text/javascript'>
       </script>
    </head>
    <body>
        <div id='allContent'>
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id = 'mainContent'>
                <h1>Help</h1>
                <h2>Search:</h2>
                <p>Perform a text-based search of all genes and coding sequences in the database. The search returns all features containing the search term...<br>
                Selecting a particular gene allows you to view further details about the coding sequence, including its orthologues in other genomes, and to scroll through the genome to view neighbouring coding sequences. 
                </p>
                <h2>Genomes:</h2>
                <p>Displays details of all genomes currently in the database.<br>
                </p>
                <h2>MultiFun:</h2>
                <p>View genes and coding sequences based on the <i>E.coli</i> 'MultiFun' (multi-functional) classification system. <br>
                </p>               
           </div>
            {% include 'footer.html' %}
        </div>

    </body>
</html>