<html>
    <head>
        <title>symbionts.org</title>
        {% include 'head.html' %}
    </head>
    <body>
        <div id="allContent">
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id="mainContent">
                <h1>Insect Symbionts Genome Database</h1>
                <p>This database contains genome sequences obtained mostly from various public 
                sources (e.g, NCBI and EMBL) as well as some additional data produced specifically 
                for our own projects.  Annotation has been enhances with transcriptomic, proteomics 
                and metabolomic data in order to produce models of the metabolism of these organisms 
                and their hosts.</p>
                <form action="/search" method='POST'>
                    <input id='search_text' name='search_text' size=60 />
                    <input type='submit' text="search"/>
                    <br />
                    <select name='genome'>
                        <option value='all' selected>All Species</option>
                        {% for genome in species %}
                        <option value="{{ genome._id }}">{{ genome.organism }}</option>
                        {% endfor %}
                    </select>
                </form>
                <p>This site was developed with funding from a BBSRC new investigator award to 
                <a href="https://www.liverpool.ac.uk/integrative-biology/staff/alistair-darby/">Dr. Alistair Darby, University of Liverpool.</a>
                The software was developed by 
                <a href="http://www.york.ac.uk/biology/research/bioinformatics-biosystems/peter-d-ashton/">Dr. Peter Ashton, University of York.</a>
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
