<html>
    <head>
        <title>symbiont</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/symbionts.css') }}" type="text/css">
    </head>
    <body>
        <div id="allContent">
            <div id="heading">
                <span id="mainTitle"><span class="ultrabold">symbiont</span>.org</span>
            </div>
            <div id="leftMenu">
                <h1>Menu</h1>
            </div>
            <div id="mainContent">
                <h1>Content</h1>
            </div>
        </div>
    </body>
</html>
