<html>
    <head>
        <title>Search symbionts.org</title>
        {% include 'head.html' %}
        <script type='text/javascript'>
            $(document).ready(function () {
            // TODO: only search at this point if the search string is not empty
                {% if search_text != "" %}
                    doSearch("{{ genome }}", "{{ search_text }}")
                {% endif %}
            })

            function doSearch(organism, search_text) {
                alert("Doing search:\nOrganism: " + organism + "\nSearch text: " + search_text);
                var title = "<h2>Results for \"" + search_text + "\""
                if (organism != "all") {
                    title = title + " in " + organism
                }
                $("#search_results").html(title)
            }
        </script>
    </head>
    <body>
        <div id='allContent'>
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id='mainContent'>
                <h1>Search</h1>
                <form action="/search" method='POST'>
                    <input id='search_text' name='search_text' size=60 value="{{ search_text }}" />
                    <input type='submit' text="search"/>
                    <br />
                    <select name='genome'>
                        {% if genome == 'all' or genome == '' %}
                             <option value='all' selected>All Species</option>
                        {% else %}
                             <option value='all'>All Species</option>
                        {% endif %}
                        {% for g in species %}
                          {% if genome == g._id %}
                            <option value="{{ g._id }}" selected>{{ g.organism }}</option>
                          {% else %}
                            <option value="{{ g._id }}">{{ g.organism }}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <div id='search_results'>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
