<html>
    <head>
        <title>Search symbionts.org</title>
        {% include 'head.html' %}
        <script type='text/javascript'>
            $(document).ready(function () {
            })
        </script>
    </head>
    <body>
        <div id='allContent'>
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id='mainContent'>
                <h1>Search</h1>
                <form>

                </form>
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
