<html>
    <head>
        <title>Search symbionts.org</title>
        {% include 'head.html' %}
        <script type='text/javascript'>
            $(document).ready(function () {
                {% if search_text != "" %}
                    doSearch("{{ genome }}", "{{ search_text }}", $('#search_results'));
                {% endif %}
            })

            function doSearch(organism, search_text, target_div) {
                var title = "<h2>Results for \"" + search_text + "\""
                var all_species = {};
                {% for g in species %}
                    all_species["{{ g._id }}"] = "{{ g.organism }}";
                {% endfor %}
                if (organism != "all") {
                    var species_name = all_species[organism];
                    title = title + " in " + species_name;
                }
                title = title + "</h2>";
                imagediv = "<div id=\"spinning_wheel_div\" align=\"center\"><img src=\"{{ url_for('static', filename='images/spinning-wheel.gif') }}\" /></div>";
                target_div.html(title + imagediv);
                $.ajax({
                        "url": "/search_all/" + organism + "/" + search_text, 
                        "success": function(data, status_text, jqXHR) {
                                            format_search_results(data, status_text, jqXHR, 
                                                target_div, all_species);
                                   },
                        "dataType": 'json'
                       })
            }
        </script>
    </head>
    <body>
        <div id='allContent'>
            {% include 'header.html' %}
            {% include 'menu.html' %}
            <div id='mainContent'>
                <h1>Search</h1>
                <form action="/search" method='POST'>
                    <input id='search_text' name='search_text' size=60 value="{{ search_text }}" />
                    <input type='submit' text="search"/>
                    <br />
                    <select name='genome'>
                        {% if genome == 'all' or genome == '' %}
                             <option value='all' selected>All Species</option>
                        {% else %}
                             <option value='all'>All Species</option>
                        {% endif %}
                        {% for g in species %}
                          {% if genome == g._id %}
                            <option value="{{ g._id }}" selected>{{ g.organism }}</option>
                          {% else %}
                            <option value="{{ g._id }}">{{ g.organism }}</option>
                          {% endif %}
                        {% endfor %}
                    </select>
                </form>
                <div id='search_results'>
                </div>
            </div>
            {% include 'footer.html' %}
        </div>
    </body>
</html>
