body {
    color: #888888;
    background: #ffffff;
    font-family: 'Roboto';
    font-weight: 300;
}

span#mainTitle {
    font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 40pt;
}

span#copyright {
    font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 8pt;
}

.ultrabold {
    font-weight: 700;
}

h1 {
    font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 28pt;
}

h2 {
    font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 20pt;
}

h3 {
    font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 100;
    font-size: 16pt;
}

a {
    color: #888888;
    text-decoration: none;
}

a:hover {
    font-weight: 700;
}

div#allContent {
    width: 1200px;
    margin: auto;
}

div#leftMenu {
    width: 250px;
    float: left;
}

div#leftMenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div#leftMenu ul li {
    font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 300;
    font-size: 16pt;
}

div#mainContent {
    width: 950px;
    float: right;
}

div#footer {
    clear: both;
}

table {
    border: none;
}

table td {
    margin: 0px;
    padding: 10px;
}

table tr:nth-child(odd) td {
    background-color: #eeeeee;
}

div#search_results table {
    font-weight: 100;
}

div#search_results table th {
    font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-weight: 100;
    font-style: italic;
    font-size: 14pt;
}
